/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
**/cj_res
**/*.cj.macrocall
**/ability_mainability_entry.cj
**/module_**_entry.cj
/cer/
/证书/

**/IDL_Dependencies_List~
**/build-script-cache
/.codeartsdoer/
/.codemate/
