.git/
.vscode/
.idea/
.cache/
.output/
.cjpm/
.VScodeCounter/
cangjieDoc/

# cangjie
build/
target/
output/
module-resolve.json
module-lock.json
cjpm.lock
.cjpm-history
*.macrocall
*.gcda
*.gcno


# 其他
log
report
tmp
.codeartsdoer
tests/
.arts
